@{
    ViewBag.Title = "Movies Page";
}

<div class="jumbotron">
    <h1>Movies Page</h1>
    <p class="lead">Contains everything about movies.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>